.home-container {
    display: grid;
    grid-template-columns: 0.75fr 0.25fr;
    gap: 25px;
    width: 100%;

    @media (max-width: 992px) {
        grid-template-columns: 1fr;
    }
}

.custom-home-button {
    box-sizing: border-box;
    padding: 8px 24px 8px 14px;
    font-size: 0.9rem;
    border: 1px solid lightgray;
    border-radius: 3px;
    width: 100%;
}

.home-status-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;
    width: 100%;
}

.home-status-options {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
}

.home-status-tasks {
    width: 100%;
    font-size: 0.9rem;
}

.home-status-hr {
    margin: 6px 0px 12px 0;
}

.todo-task-container {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 18px;
}

.todo-header {
    font-weight: 800;
}

.task-title {
    font-weight: 600;
    font-size: 0.88rem;
}

.task-description {
    font-size: 0.82rem;
    color: rgb(110, 110, 110);
}

.circular-bg {
    background-color: rgb(212,26,44);
    border-radius: 50%;
    width: 17px;
    height: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 0.7rem;
    margin-top: 3px;
    margin-right: 2px;
}

#home-task-exit-icon {
    font-size: 0.8rem;
    color: gray;
}