ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    font-family: Arial, Helvetica, sans-serif
}

table {
    padding: 0;
    margin: 0;
}

table tbody {
    width: 100%;
}