ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    font-family: Arial, Helvetica, sans-serif
}

table {
    padding: 0;
    margin: 0;
}

table tbody {
    width: 100%;
}

table tbody tr td {
    padding: 0;
    margin: 0;
}

.page-wrapper {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: space-between;
}

.content-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    box-sizing: border-box;
}

.center-horizontally {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.gray-text {
    color: rgb(104,114,122);
}

.dark-gray-text {
    color: rgb(45,59,69);
}

.red-text {
    color: rgb(212,26,44);
}

.line-separator {
    color: gray; 
    border-width: 1.5px; 
    margin: 0;
    width: 100%;
}

.main-page {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: start;
    height: 100%;
    align-items: start;
    padding: 0 28px 0 105px;
}

.align-to-right {
    display: flex;
    width: 100%;
    justify-content: end;
    align-items: center;
    gap: 3px;
    height: 30px;
}

.gap-fifteen-pixels {
    margin-top: 15px;
}

.smaller-text {
    font-size: 0.83rem;
}

.basic-flex-layout {
    display: flex;
    align-items: center;
    justify-content: space-between;
}