.course-header {
    font-size: 1.3rem;
    color: black;
    font-weight: 500;
    gap: 10px;
    color: rgb(197,11,29);
}

.course-header-description {
    margin-top: -2.5px;
    display: flex;
    gap: 10px;
}

.student-view-button {
    background-color: rgb(230, 230, 230);
    padding: 5px 12px;
    border-radius: 3px;
    border: 1px solid lightgray;
    font-size: 0.9rem;

    &:hover {
        cursor: pointer;
    }
}