body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-content {
  width: 100%;
  padding-left: 85px;

  @media (max-width: 575px) { 
      padding-left: 0;
  }
}

.list-styling {
  list-style: none;
}

.align-at-end {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.align-at-start {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
}

.align-space-between {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.gray-color {
  color: rgb(104,114,122);
}

.dark-gray-color {
  color: rgb(45,59,69);
}

.red-color {
  color: rgb(212,26,44);
}

.black-color {
  color: black;
}

.align-at-top-left {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: start;
  justify-content: start;
}

.light-gray-bg {
  background-color: rgb(235, 235, 235);
}

.red-bg {
  background-color: rgb(212,26,44);
  color: white;
}

.weight-600 {
  font-weight: 600;
}

.weight-500 {
  font-weight: 500;
}